body 
{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#searchResults .table tr > td, #searchResults .table tr > th
{
  
  text-align: center;

}
nav ul li 
{
  list-style-type: none;
}

.table tr > th 
{
  width: 10%;
  vertical-align: bottom;
}

#searchResults .table tr > th
{
  position: sticky;
  background-color: white;
  top: 0;
  border-bottom: 1px dotted #333333;
}

input[readonly]
{
  background-color: #eee;
}

#printablePermit fieldset
{
  border: none; 
  border-top: 2px solid rgba(10, 10, 10, 1); 
  padding: 1.0rem;
}

#printablePermit fieldset legend
{
  padding-left: 1em; 
  padding-right: 1em;
}

@media print 
{
  @page
  {
    margin: 2em;
    size: portrait;    
  }

  body
  {
    display: block;
  }

  #printablePermit fieldset
  {
    display: block;
    /*margin-top: -1em;*/
    page-break-inside: avoid !important;
    break-inside: avoid !important;
  }

}