body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

#searchResults .table tr > td, #searchResults .table tr > th {
  text-align: center; }

nav ul li {
  list-style-type: none; }

.table tr > th {
  width: 10%;
  vertical-align: bottom; }

#searchResults .table tr > th {
  position: sticky;
  background-color: white;
  top: 0;
  border-bottom: 1px dotted #333333; }

input[readonly] {
  background-color: #eee; }
