body 
{
  margin-bottom: 1rem;
}
#searchResults article.tile.is-child.box
{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
}
#searchResults div.tile.is-parent.group 
{
  padding: 0;
}

#searchResults div.tile.is-parent
{
  padding-top: 0;
  padding-bottom: 0;
}
.Documents 
{
  background-color: cornsilk;
}

.Charges
{
  background-color: aquamarine;
}

.Inspections
{
  background-color:darkkhaki;
}

#searchResults .table tr > td, #searchResults .table tr > th
{
  
  text-align: center;

}

.table tr > th 
{
  width: 10%;
  vertical-align: bottom;
}

#searchResults .table tr > th
{
  position: sticky;
  background-color: white;
  top: 0;
  border-bottom: 1px dotted #333333;
}