<?xml version="1.0"?>
<connectionStrings>
  <add name="Production" connectionString="Server=CLAYBCCMSCSQL;Database=PermitSearch;user id=PermitSearchUser; password=702cf8b5fc47gae7a0a733f6767dd6d146c84b258dcc413dfa884ba0d29a9d65;" providerName="System.Data.SqlClient" />
  <add name="QALog" connectionString="Server=CLAYBCCDV10;Database=Maintenance;user id=ClayPayWriter; password=702cf8b5fc47fae8a0a733f6767dd6d147c84b258dcc413dfa884ba0d29a9d75;" providerName="System.Data.SqlClient" />
  <add name="ProductionLog" connectionString="Server=CLAYBCCMSCSQL;Database=Maintenance;user id=ClayPayWriter; password=702cf8b5fc47fae8a0a733f6767dd6d147c84b258dcc413dfa884ba0d29a9d75;" providerName="System.Data.SqlClient" />
</connectionStrings>

